:root {
    --color-background:#FFF;
    --color-background-nav:#202020;
    --color-background-home:#FFF;
    --color-table-hover:#dedede;
    --color-text-link:#FFF;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    background-color: var(--color-background);
}
a{
    text-decoration: none;
    transition: 0.2s opacity;
    color: var(--color-text-link);
}
a:hover, a.selected{
    opacity:0.4;
}
h1{
    margin: 20px;
}
main{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}
table{
    width: 90%;
    margin: 20px;
}
tbody tr:hover{
    background-color: var(--color-table-hover);
}
th, td {
    border: 1px solid;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
}
