:root {
    --color-background-nav:#202020;
    --color-background-home:#FFF;
    --color-background-table:rgb(247, 247, 247);
    --color-table-hover:#dedede;
    --color-text-link:#FFF;
    --border-box: 1px solid rgba(245, 236, 236, 0.4);
    --border-box-shadow:1px 2x 2px black;
    --font-size:14px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    background-color: var(--color-background-home);
}
main{
    background-color: var(--color-background-home);
}
a{
    text-decoration: none;
    transition: 0.2s opacity;
    color: var(--color-text-link);
}
a:hover, .router-link-active{
    opacity:0.4;
}
h1{
    margin: 20px;
}
main{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}
table{
    width: 90%;
    margin: 20px;
    background-color: var(--color-background-home);
}
tbody tr:hover{
    background-color: var(--color-table-hover);
}
th, td {
    border: 1px solid;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    min-width: 50px;
}
.divTable{
    overflow-y: scroll;
    height: 600px; 
    width: 80%;   
    border: var(--border-box);
    box-shadow:var(--border-box-shadow);
    margin: 20px;
    background-color: var(--color-background-table);;
}
.tableHeader{
    margin-left: 20px;
    margin-bottom: 20px; 
    height: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;  
    align-items: center; 
}
.tableHeader button, .buttonCreate button, .buttonBack button, .buttonUpdate button, .buttonDelete button, .buttonBack button{
    width: 80px;
    height: 40px; 
    font-size: var(--font-size);
}
.tableHeader .create{
    align-items: flex-start;
    height: 40px;
}
.tableHeader .create a, .buttonBack button a, .divTable a{
    color: #000000;    
}
.tableSearch{  
    display: flex;     
    flex-direction: row;
    height: 40px;
    width: 30%;
    align-items: center;    
}
.tableSearch input{
    height: 40px;
    margin-right: 5px; 
    width: 80%; 
    font-size: var(--font-size);
    padding: 6px;
}
.divForm{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 60px;    
    align-items: center;    
}
.divForm label{
    margin-right: 10px;
    width: 250px;
}
.divForm input{
    width: 80%;
    height: 50px;  
    font-size: var(--font-size);
    padding: 6px;  
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    height: 55vh;  
    width: 70%;
    margin: 20px;
    padding: 20px;
    border: var(--border-box);
    box-shadow:var(--border-box-shadow);
    background-color: var(--color-background-table);;
}
.divButtons{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    width: 80%;
    margin-top: 30px;    
}



